.form {
  text-align: center;
}

.input {
  padding: 0.4em;
  width: 20em;
  outline:0;
  color:#dd3333;
}

.button {
  display: block;
  margin: 1em auto;
  background:rgba(0,0,0,0.2);
  border-radius: .5em;
  padding: .6em;
  border:0;
  font-size: large;
}
